<h1 *ngIf="account">Hello {{account.name}}</h1>
<h1 *ngIf="!account">Welcome!</h1>
<mat-card>
  <div *ngIf="!account">
    <mat-list>
      <mat-list-item routerLink="/browse">Browse Issues</mat-list-item>
      <mat-list-item routerLink="/login">Login</mat-list-item>
      <mat-list-item routerLink="/login">Signup</mat-list-item>
    </mat-list>
  </div>
  <div *ngIf="account">
    <mat-list>
      <mat-list-item routerLink="/browse">View My issues</mat-list-item>
      <mat-list-item routerLink="/report/-1">Create New Issue</mat-list-item>
      <mat-list-item routerLink="/browse">Browse Issues</mat-list-item>
    </mat-list>
  </div>
</mat-card>
