<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div>
        <img style="margin: 48px" src="assets/RitsNoLabel.PNG">
      </div>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/main/issues">
        <mat-icon>home</mat-icon>&nbsp;Home
      </a>

      <a mat-list-item *ngIf="user == null" routerLink="/main/users/0">
        <mat-icon>person_add</mat-icon>&nbsp;User Registration
      </a>

      <a mat-list-item *ngIf="user != null" routerLink="/main/users">
        <mat-icon>supervisor_account</mat-icon>&nbsp;Users
      </a>

      <a mat-list-item *ngIf="user != null" routerLink="/main/report/0">
        <mat-icon>note_add</mat-icon>&nbsp;Report Issue
      </a>

      <a mat-list-item *ngIf="user == null" routerLink='/main/login'>
        <mat-icon>login</mat-icon>&nbsp;Login
      </a>

      <a mat-list-item *ngIf="user != null" (click)="loggout()">
        <mat-icon>logout</mat-icon>&nbsp;Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>RITS</span>
      <span *ngIf="user">&nbsp;-&nbsp;{{user?.name}} [{{user?.level}}] is now logged in.</span>
    </mat-toolbar>

    <router-outlet>

    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>