<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>ISSUES</mat-card-title>
  </mat-card-header>

  <mat-card-content>




    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.title}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let row">{{row.description}}</td>
      </ng-container>

      <!-- Issue Category Column -->
      <ng-container matColumnDef="issueCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue Category</th>
        <td mat-cell *matCellDef="let row">{{row.issueCategory}}</td>
      </ng-container>

      <!-- Creator Column -->
      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creator</th>
        <td mat-cell *matCellDef="let row">{{row.creator}}</td>
      </ng-container>

      <!-- Name Created At -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
        <td mat-cell *matCellDef="let row">{{row.createdAt}}</td>
      </ng-container>

      <!-- Name Issue Severity -->
      <ng-container matColumnDef="issueSeverity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue Severity</th>
        <td mat-cell *matCellDef="let row">{{row.issueSeverity}}</td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>

  </mat-card-content>
</mat-card>
